/* vpatina.css v 005 */

.pswp__caption__center {
  max-width: 1024px !important;
  text-align: center !important;
}


#vp__share-modal {
}

.vp__container {
  padding: 8px;
}

.vp__share-modal-content {
}

.vp__share-modal-content {
  width: 90%;
  max-width: 600px !important;
  margin: 0px auto !important;
  font-size: 14px !important;
}

.vp__share-modal-content H4 {
  font-size: 16px !important;
}

.arrow-box {
	position: relative;
	background: #fff;
	border: 1px solid #ccc;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 75%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}
.arrow-box:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 21px;
	margin-left: -21px;
}

/** new buttons */

.pswp__button--calendar, .pswp__button--chat, .pswp__button--info, .pswp__button--map, .pswp__button--like, .pswp__button--user, .pswp__button--contact,
.pswp__button--close, .pswp__button--share, .pswp__button--fs, .pswp__button--zoom
{ 
  background: url(vp-skin-24-2.png) 0 0 no-repeat; 
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.vp__calendar { background-position: -20px -0px; width: 24px; height: 24px; }
.vp__chat { background-position: -64px -0px; width: 24px; height: 24px; }
.vp__close { background-position: -108px -0px; width: 24px; height: 24px; }
.vp__follow { background-position: -152px -0px; width: 24px; height: 24px; }
.vp__unfollow { background-position: -20px -132px; width: 24px; height: 24px; }

.pswp__button--like  { background-position: -20px -132px; width: 24px; height: 24px; }
.pswp__button--like.follow  { background-position: -152px -0px; width: 24px; height: 24px; }

.vp__fullscreen-off { background-position: -20px -44px; width: 24px; height: 24px; }
.vp__fullscreen { background-position: -64px -44px; width: 24px; height: 24px; }
.vp__info { background-position: -108px -44px; width: 24px; height: 24px; }
.vp__left { background-position: -152px -44px; width: 24px; height: 24px; }
.vp__mail { background-position: -20px -88px; width: 24px; height: 24px; }
.vp__map { background-position: -64px -88px; width: 24px; height: 24px; }
.vp__right { background-position: -108px -88px; width: 24px; height: 24px; }
.vp__share { background-position: -152px -88px; width: 24px; height: 24px; }
.vp__user { background-position: -64px -132px; width: 24px; height: 24px; }
.vp__zoom-out { background-position: -108px -132px; width: 24px; height: 24px; }
.vp__zoom-in { background-position: -152px -132px; width: 24px; height: 24px; }

.pswp__button--info  { background-position: -108px -44px; width: 24px; height: 24px; }
.pswp__button--contact  { background-position: -20px -88px; width: 24px; height: 24px; }
.pswp__button--map   { background-position: -64px -88px; width: 24px; height: 24px; }
.pswp__button--chat  { background-position: -64px -0px; width: 24px; height: 24px; }
.pswp__button--user  { background-position: -64px -132px; width: 24px; height: 24px; }
.pswp__button--calendar  { background-position: -20px -0px; width: 24px; height: 24px; }

.pswp__button--close { background-position: -108px -0px; width: 24px; height: 24px; }
.pswp__button--share { background-position: -152px -88px; width: 24px; height: 24px; }
.pswp__button--fs { background-position: -64px -44px; width: 24px; height: 24px; }
.pswp__button--zoom { background-position: -152px -132px; width: 24px; height: 24px; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -108px -132px; width: 24px; height: 24px; 
}
.pswp--fs .pswp__button--fs {
  background-position: -20px -44px; width: 24px; height: 24px;  
}


.w3-modal, #vp__w3modal {
  z-index: 10000 !important; /* Sit on top */
} 

  
/* The Modal (background) */
.vp__modal-container {
}

.vp__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.vp__modal-header {
  background-color: #000000;
  margin: auto;
  padding-right: 4px;
  width: 80%;
  height:40px;
}

#vp__modal-content {
  z-index: 10002 !important; /* Sit on top */
} 

.vp__modal-content-off {
  background-color: #fefefe;
  margin: auto;
  padding: 8px;
  width: 80%;
}

.vp__modal-content {
  padding: 16px 12px;
} 

.vp__tab-inner-content, .vp__tab-inner-content p {
  margin-top: 8px;
  margin-bottom: 14px;
  font-size: 14px;
}


/* The Close Button */
.vp__close {
  color: #FFF !important;
  float: right;
  font-size: 24px;
  font-weight: bold;
  height: 24px;
}

.vp__close:hover,
.vp__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#infoTabs {
  text-align: left;
}

#infoTabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  background-color: white;
  color: black;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";
  font-size: 16px;
  text-transform: uppercase;
}

#infoTabs h4 {
  font-size: 16px;
}

#infoTabs .vp__tabs-content {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding : 5px 15px;
}

#infoTabs > li.active > a {
  text-decoration: underline;
  font-weight:bold;
}


/** New w3 modal */
.vp__modal-content H4 {
  font-size: 16px;
}



/* Begin tabs */
/* Style the list */
ul.vp__tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: transparent; /* #f1f1f1; */
  cursor: pointer !important;
}

/* Float the list items side by side */
ul.vp__tabs li {
  float: left;
}

/* Style the links inside the list items */
ul.vp__tabs li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
}

/* Change background color of links on hover */
ul.vp__tabs li a:hover {
  text-decoration: underline !important;
}


/* Create an active/current tablink class */
ul.vp__tabs li a:focus, ul.vp__tabs li a.active {
  text-decoration: underline !important;
}


#vp__tab1-content {
  text-align: center !important;
}

#vp__tab2-content, #vp__tab3-content, #vp__tab4-content {
  text-align: left !important;
}

/* Style the tab content */
.vp__tab-content {
  display: none;
  padding: 16px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  font-size: 16px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* End tabs */

/* Host tweaks */
.img-cont FIGURE IMG, P OBJECT IMG {
}

iframe {border: none !important}

